.App {
  text-align: center;
}

.App-logo {
  height: 10%;
  width: 50%;
  justify-content: center;
}



#myImg {
  height: 40vmin;
 
}
#button :hover {
background-color: green;
text-align: center;
border: none;
color: black;
display: inline-block;
padding: 15px 32px;
}